babel==2.18.0
bcrypt==5.0.0
charset-normalizer==3.5.1
customtkinter==6.0.0
darkdetect==0.8.0
docopt==0.6.2
et_xmlfile==2.0.0
num2words==0.5.14
numpy==2.5.2
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
phonenumbers==9.0.38
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
reportlab==5.0.1
six==1.17.0
tkcalendar==1.6.1
tzdata==2026.3
